@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --container-padding: 1.5rem;
}

.container {
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.button-primary {
  @apply bg-black text-white rounded-xl px-5 py-2.5 disabled:opacity-50;
}

.card {
  @apply rounded-2xl shadow-sm hover:shadow-md p-4 bg-white;
}
